.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.table-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container th {
  background-color: #0e509c;
  color: white;
  padding: 15px;
  text-align: center;
}

.table-container tbody td {
  border-bottom: 1px solid #e1e4e8;
  padding: 15px;
  text-align: center;
}

.table-container tbody tr:last-child td:not(:first-child) {
  background-color: #f0f8ff;
  color: blue;
}

.table-container tbody tr:not(:last-child) td:last-child {
  background-color: #f0f8ff;
  color: blue;
}

.table-container tbody tr:last-child td:last-child {
  border: none;
}

.table-body tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table-body tr:hover {
  background-color: #e2f3ff;
  transition: background-color 0.3s ease;
}
